{% extends '../base.html' %}
{% block title %}My Bookings - Piki Ora Medical{% endblock %}
{% block content %}
    <h2 class="mb-4 text-primary fw-bold">My Appointments</h2>
    {% if bookings %}
        <div>
            <table class="table table-hover align-middle">
                <thead class="table-light">
                <tr>
                    <th>Doctor</th>
                    <th>Specialization</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for booking in bookings %}
                    <tr>
                        <td class="fw-bold">Dr. {{ booking.slot.doctor.name }}</td>
                        <td>{{ booking.slot.doctor.specialization }}</td>
                        <td>{{ booking.slot.date }}</td>
                        <td>{{ booking.slot.time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning text-center py-4">
            <h5>You have no upcoming appointments.</h5>
            <a href="{% url 'book_appointment' %}" class="btn btn-primary mt-2">Book an Appointment Now</a>
        </div>
    {% endif %}
{% endblock %}

